body {
    background-color: lightblue;
}

h1 {
    padding-top: 10px;
    height: 100px;
    line-height: 75px;
}

header,
main {
    width: 90%;
    margin: auto;
    text-align: center;
}

form,
img {
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 98%;
    margin: 1% auto;
    height: 30px;
}

input:focus {
    background-color: rgb(172, 172, 172);
}