{{#partial "contenido"}}

    <h1> Nueva Entidad Base </h1>

    <form action="carga_entidad_base" method="post">
        <p> <br> Nombre Ficticio </p>

        <input type="text" name="nombre_ficticio" placeholder="Nombre Ficticio" class="entradas">

        <p> <br> Categoria </p>
        <select class="form-control form-control" id="sel-categoria" name="categoria"> <!-- onchange="this.form.submit()" para que filtre sin boton -->

            <option value="0"> seleccione una categoria </option>

            {{#each categorias}}
                <option value={{ id }}>{{ nombre }}</option>
            {{/each}}
        </select>

        <p> <br> Descripcion </p>
        <input type="text" name="descripcion" placeholder="Descripcion" class="entradas">

        <p> <br> Organizacion </p>
        <select class="form-control form-control" id="sel-organizacion" name="organizacion">
            <option> Una Organizacion </option>
        </select>

        <p> <br> Entidad Juridica Asociada </p>
        <select class="form-control form-control" id="sel-ent-juridica" name="entidad-juridica">
            <option> Una Entidad Juridica </option>
        </select>

        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
{{/partial}}

{{>layout.hbs}}