{{#partial "contenido"}}

    <form action="carga/entidad_base" method="post">
        <input type="text" name="nombre_ficticio" placeholder="Nombre Ficticio" class="entradas">

        <select class="form-control form-control" id="sel-categoria" name="categoria"> <!-- onchange="this.form.submit()" para que filtre sin boton -->

            <option value="0"> seleccione una categoria </option>

            {{#each categorias}}
                <option value={{ id }}>{{ nombre }}</option>
            {{/each}}
        </select>

        <input type="text" name="descripcion" placeholder="Descripcion" class="entradas">

        <select class="form-control form-control" id="sel-organizacion" name="organizacion">
            <option> Una Organizacion </option>
        </select>

        <select class="form-control form-control" id="sel-ent-juridica" name="entidad-juridica">
            <option> Una Entidad Juridica </option>
        </select>

        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>

{{/partial}}

{{>layout.hbs}}