{{#partial "contenido"}}

    <main style="background:rgb(12.5, 20, 34.1) !important;">
        <div style=" background:rgb(12.5, 20, 34.1) !important;" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 style="color: white;"> GESOC - Gestión de Proyectos Sociales </h1>
                <p style="color: rgb(156, 155, 155);" class="lead">
                    ¿Dificultades a la hora de gestionar las actividades de tu empresa? GESOC te provee el software de mejor calidad, para brindarte la información de cada una de las actividades de tu empresa para que mantengas un seguimiento dia a dia de todo lo que pasa
                    en ella.
                </p>
            </div>
        </div>
        <div style="background:rgb(39.2, 47.5, 63.5) !important;" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card" style="width: 50rem; margin: auto;">
                        <img src="img/contabilidad1.jpg" class="d-block w-100" alt=" ... ">
                        <div class="card-body">
                            <p class="card-text">Facilitamos el manejo de operaciones de egresos con sus respectivos presupuesto</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width: 50rem; margin: auto;">
                        <img src="img/contabilidad2.jpg" class="d-block w-100" alt=" ... ">
                        <div class="card-body">
                            <p class="card-text">Permitimos administrar aspectos fundamentales de la contabilidad de gestión</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="width: 50rem; margin: auto;">
                        <img src="img/contabilidad3.jpg" class="d-block w-100" alt=" ... ">
                        <div class="card-body">
                            <p class="card-text">Periodicamente validamos la transparencia administrativa</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </main>

{{/partial}}

{{>layout.hbs}}