<html>
<body>

<label for="categorias">Filtrar por categoria:</label>

<form action="/home" method="get">
    <select id="seleccionar" name="categoria"> <!-- onchange="this.form.submit()" para que filtre sin boton -->

        <option value="0"> todas las categorias </option>

        {{#each categorias}}
            <option value={{ id }}>{{ nombre }}</option>
        {{/each}}
    </select>

    <input type="submit" value="Filtrar">
</form>


<table class="table table-stripped">
    <tr>
        <th>Nombre</th>
        <th></th>
    </tr>

    {{#each entidades}}
        <tr>
            <td>{{nombreFicticio}}</td>
        </tr>
    {{/each}}
</table>

</body>
</html>