{{#partial "contenido"}}

    <h1> Usuario </h1>
    <h3> Bandeja de Mensajes </h3>

    <table class="table table-stripped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Operacion</th>
            <th scope="col">Resultado Validacion</th>
        </tr>
        </thead>

        <tbody>
        {{#each mensajes}}
            <tr>
                <td>{{operacion}}</td>
                <td>{{resultadoValidacion}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

{{/partial}}

{{>layout.hbs}}